*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #212121;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.screen{
    margin-top: 150px;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    transform: scaleX(-1);
}